body {
  background: #333;
  color: #FFF;
  font-family: -apple-system, 'Helvetica Neue', Arial;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 414px;
  min-width: 375px;
  height: 100vh;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  transition: -webkit-filter .5s;
  z-index: -1;
}

#forceMe {
  width: 93px;
  height: 93px;
  background: rgba(255,255,255,0.7);
  border-radius: 100%;
  position: absolute;
  top: 408px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transition: -webkit-transform .1s;
}

@media (min-width: 414px) {
  #forceMe {
    top: 450px;
  }
}

#footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100%;
  text-align: right;
}

#forceValue {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100%;
  text-align: left;
}
